{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit user{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('users') }}">{% trans %}Users{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}Edit user{% endtrans %}</li>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.firstName, 'First name'|trans({}, 'app')) }}
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName, 'Last name'|trans({}, 'app')) }}
                        {{ form_widget(form.lastName) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, 'Email') }}
                        {{ form_widget(form.email) }}
                    </div>
                    <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}