{% extends 'base.html.twig' %}

{% block title %}{% trans %}View user{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('users') }}">{% trans %}Users{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}View user{% endtrans %}</li>
{% endblock %}

{% block body %}

    {{ include('app/user/_tab.html.twig') }}

    <div class="row">
        <div class="col">
            <div class="mb-2">
                <a href="{{ path('users.edit', {id: user.id.value}) }}"
                   class="btn btn-info">{% trans %}Edit{% endtrans %}</a>
                <a href="{{ path('users.role', {id: user.id.value}) }}"
                   class="btn btn-info">{% trans %}Change role{% endtrans %}</a>
                {% if user.isActive %}
                    <form action="{{ path('users.block', {id: user.id.value}) }}" method="POST" class="d-inline-block">
                        <input type="hidden" name="token" value="{{ csrf_token("block") }}">
                        <button type="submit" class="btn btn-danger">{% trans %}Block{% endtrans %}</button>
                    </form>
                {% else %}
                    <form action="{{ path('users.active', {id: user.id.value}) }}" method="POST" class="d-inline-block">
                        <input type="hidden" name="token" value="{{ csrf_token("active") }}">
                        <button type="submit" class="btn btn-success">{% trans %}Activate{% endtrans %}</button>
                    </form>
                {% endif %}
                <a href="{{ path('tasks.create', {id: user.id.value}) }}" class="btn btn-success">{% trans from 'task' %}Add task{% endtrans %}</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td>{% trans %}Name{% endtrans %}</td>
                            <td>
                                {{ user.name.full }}
                            </td>
                        </tr>
                        {% if user.email %}
                            <tr>
                                <td>Email</td>
                                <td>
                                    {{ user.email }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{% trans %}Created{% endtrans %}</td>
                            <td>{{ user.date|date('d.m.Y H:i:s') }}</td>
                        </tr>
                        <tr>
                            <td>{% trans %}Role{% endtrans %}</td>
                            <td>{{ user_role(user.role.name) }}</td>
                        </tr>
                        <tr>
                            <td>{% trans %}Status{% endtrans %}</td>
                            <td>{{ user_status(user.status) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

