{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users{% endtrans %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active"><a href="{{ path('users') }}">{% trans %}Users{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans from 'task' %}View user tasks{% endtrans %}</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('task-page') }}
{% endblock %}

{% block body %}

    {{ include('app/todos/_tab.htmt.twig') }}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-2">{{ form_widget(form.name) }}</div>
                <div class="col-md-2">{{ form_widget(form.description) }}</div>
                <div class="col-md-2">{{ form_widget(form.status) }}</div>
                <div class="col-md-2">{{ form_widget(form.date) }}</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">{% trans %}Filter{% endtrans %}</button>
                    <a href="{{ path('tasks.user', {uuid: user.id}) }}" class="btn btn-info">{% trans %}Reset{% endtrans %}</a>
                </div>
            </div>
            {{ form_end(form) }}

        </div>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Description', 'description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status', 'status') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Date', 'date') }}</th>
                <th style="width: 80px">{% trans %}Action{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination %}
                <tr>
                    <td>{{ task.name }}</a></td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.date|date('d.m.Y H:i:s') }}</td>
                    <th>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('tasks.edit', {id: task.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                            <form
                                action="{{ path('tasks.delete', {id: task.id}) }}"
                                onsubmit="return confirm('Вы уверены что хотите удалить этот элемент?');"
                                method="post"
                            >
                                <button
                                        type="submit"
                                        class="btn btn-link"
                                        style="outline: none; padding: 0; background-color: transparent;">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                            {% if task.status == 'published' %}
                                <a href="{{ path('tasks.fulfilled', {id: task.id}) }}"><i class="fas fa-check"></i></a>
                            {% else %}
                                <a href="{{ path('tasks.published', {id: task.id}) }}"><i class="fas fa-redo"></i></a>
                            {% endif %}
                        </div>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('task-page') }}
{% endblock %}