{% extends 'auth.html.twig' %}

{% block title %}
    {% trans from 'app' %}Login{% endtrans %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            {% include '_flashes.html.twig' %}
                            <h1>{% trans from 'app' %}Login{% endtrans %}</h1>
                            <p class="text-muted">
                                {% trans from 'app' %}To enter, you must specify your email and password.{% endtrans %}
                            </p>
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}
                            <form method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="cil-user"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="email" name="email" value="{{ last_username }}" placeholder="Email">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="cil-lock-locked"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" type="password" name="password" placeholder="Пароль">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit">Вход</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a class="btn btn-link px-0" href="{{ path('auth.reset') }}">
                                            {% trans from 'app' %}Forgot your password?{% endtrans %}
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="row">
                                <div class="col text-center">
                                    <a href="{{ path('oauth.vkontakte') }}" class="btn btn-outline-primary bnt_icons" type="button">
                                        <span><i class="cib-vk"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-body content-center">
                            <div>
                                <h2>{% trans from 'app' %}Registration{% endtrans %}</h2>
                                <p>{% trans from 'app' %}To register in the system, follow the link below and fill out the registration form.{% endtrans %}</p>
                                <a class="btn btn-lg btn-outline-light mt-3" href="{{ path('auth.signup') }}">{% trans from 'app' %}Register now{% endtrans %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}