{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">{% trans %}Profile{% endtrans %}</li>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header"><h5>{% trans %}Profile{% endtrans %}</h5></div>
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <td>ID</td>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td>{{ user.date|date('d.m.Y H:i:s') }}</td>
                        </tr>
                        {% if user.email %}
                            <tr>
                                <td>Email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Role</td>
                            <td>{{ user_role(user.role) }}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>{{ user_status(user.status) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if user.networks %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header"><h5>{% trans %}Networks{% endtrans %}</h5></div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            {% for network in user.networks %}
                                <tr>
                                    <td>{{ network.network }}</td>
                                    <td>{{ network.identity }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}