{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active">{% trans from 'profile' %}User profile{% endtrans %}</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profile-page') }}
{% endblock %}

{% block body %}

    <div class="row mb-2">
        <div class="col">

            <div style="max-width: 600px; ">
                <img id="profile-image" src="{{ asset('img/work_image2.jpg') }}" data-user-id="{{ user.id }}" alt="Работа" data-image-name="Работа.jpg">
            </div>

        </div>
    </div>
    
    <div class="row mb-4">
        <div class="col">

            <div class="d-flex">
                <div class="mr-1">
                    <label class="btn btn-outline-dark" for="cropper-input">
                        <input type="file" id="cropper-input" class="sr-only" accept="image/*">
                        <span class="mr-1">{% trans from 'profile' %}Load photo{% endtrans %}</span>
                        <i class="fas fa-download"></i>
                    </label>
                </div>
                <div>
                    <button id="js-upload-cropper-image" type="button" class="btn btn-outline-success">
                        <span class="mr-1">{% trans %}Save{% endtrans %}</span><i class="fas fa-cloud-upload-alt"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header"><h5>{% trans from 'profile' %}Profile{% endtrans %}</h5></div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td>{% trans %}Name{% endtrans %}</td>
                                <td>
                                    {{ user.name.full }}
                                    <a href="{{ path('profile.change_name', {id: user.id}) }}" class="btn btn-sm btn-outline-primary">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% if user.email %}
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        {{ user.email }}
                                        <a href="{{ path('profile.email') }}" class="btn btn-sm btn-outline-primary">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td>{% trans %}Created{% endtrans %}</td>
                                <td>{{ user.date|date('d.m.Y H:i:s') }}</td>
                            </tr>
                            <tr>
                                <td>{% trans %}Role{% endtrans %}</td>
                                <td>{{ user_role(user.role.name) }}</td>
                            </tr>
                            <tr>
                                <td>{% trans %}Status{% endtrans %}</td>
                                <td>{{ user_status(user.status) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header"><h5>{% trans %}Networks{% endtrans %}</h5></div>
                    <div class="card-body">
                        {% if user.networks %}
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    {% for network in user.networks %}
                                        <tr>
                                            <td>{{ network.network }}</td>
                                            <td>{{ network.identity }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                        <a class="btn btn-info" href="{{ path('oauth.attach.vkontakte') }}">{% trans %}Attach VK{% endtrans %}</a>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile-page') }}
{% endblock %}